<launch>
    <arg name="robot_namespace"/>
    <param name="robot_namespace" value="$(arg robot_namespace)" type="string"/>

    <group if="$(arg use_victor)">
        <include file="$(find victor_moveit_config)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
    </group>
    <group if="$(arg use_val)">
        <include file="$(find hdt_michigan_moveit)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
    </group>

    <group ns="static_transform_publishers">
        <node pkg="tf2_ros" type="static_transform_publisher" name="rename_origin" required="true"
              args="0 0 0 0 0 0 robot_root world">
            <param name="use_sim_time" value="false"/>
        </node>
    </group>

    <include file="$(find physical_robot_3d_rope_shim)/launch/static_transforms.launch">
        <arg name="use_val" value="$(arg use_val)"/>
        <arg name="use_victor" value="$(arg use_victor)"/>
        <arg name="use_sim_time" value="false"/>
        <arg name="use_mocap_shims" value="false"/>
    </include>

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"/>

</launch>