<library path="src">
  <class name="RobotDataCollection" type="rqt_robot_data_collection.rqt_robot_data_collection.RobotDataCollection" base_class_type="rqt_gui_py::Plugin">
    <description>
    </description>
    <qtgui>
      <label>Robot Data Collection</label>
      <icon type="theme">applications-engineering</icon>
      <statustip></statustip>
    </qtgui>
  </class>
</library>
