<?xml version="1.0"?>
<model>
  <name>five_link_bot</name>
  <version>1.0</version>
  <sdf>urdf/five_link_bot.urdf</sdf>
  <author>
    <name>Peter Mitrano</name>
    <email>pmitrano@umich.edu</email>
  </author>
  <description>
    link bot
  </description>
</model>
<model>
  <name>link_bot</name>
  <version>1.0</version>
  <sdf>urdf/link_bot.urdf</sdf>
  <author>
    <name>Peter Mitrano</name>
    <email>pmitrano@umich.edu</email>
  </author>
  <description>
    link bot
  </description>
</model>
