<launch>
    <arg name="gui" default="true"/>

    <include file="$(find link_bot_gazebo)/launch/gazebo.launch">
        <arg name="world" value="dual_floating_grippers.world"/>
        <arg name="use_victor" value="false"/>
        <arg name="use_val" value="false"/>
        <arg name="verbose" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="pause" value="true"/>
        <arg name="debug_gazebo" value="false"/>
        <arg name="debug_moveit" value="false"/>
    </include>

    <node name="shim" type="dual_gripper_action_forwarder_node.py" pkg="link_bot_gazebo_python">
        <param name="rope_ns" value="kinematic_rope"/>
    </node>

    <include file="$(find link_bot_gazebo)/launch/kinect_static_transforms.launch">
    </include>

    <include file="$(find cdcpd_ros)/launch/gazebo_floating_tracking.launch">
    </include>
</launch>
