<launch>
    <arg name="gui" default="true"/>
    <arg name="use_cdcpd" default="true"/>

    <include file="$(find link_bot_gazebo)/launch/robot_in_gazebo.launch">
        <arg name="world" value="dual_floating_grippers.world"/>
        <arg name="use_victor" value="false"/>
        <arg name="use_val" value="false"/>
        <arg name="verbose" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="pause" value="true"/>
        <arg name="debug_gazebo" value="false"/>
        <arg name="debug_moveit" value="false"/>
    </include>

    <group ns="static_transform_publishers">
        <node pkg="tf2_ros" type="static_transform_publisher" name="left_tool"
              args="0 0 0 0 0 0 gazebo/rope_3d/left_gripper left_tool">
        </node>
        <node pkg="tf2_ros" type="static_transform_publisher" name="right_tool"
              args="0 0 0 0 0 0 gazebo/rope_3d/right_gripper right_tool">
        </node>
    </group>

    <group if="$(arg use_cdcpd)">
        <include file="$(find link_bot_gazebo)/launch/kinect_static_transforms.launch">
        </include>
        <include file="$(find cdcpd_ros)/launch/rope_tracking.launch">
        </include>

    </group>
</launch>
