<launch>
    <arg name="debug_moveit"       default="false"/>
    <arg name="use_victor"      default="false"/>
    <arg name="use_val"         default="false"/>

    <param name="robot_name" value="victor" type="string" if="$(arg use_victor)"/>
    <param name="robot_name" value="val" type="string" if="$(arg use_val)"/>

    <!-- Load URDF, SRDF and other .yaml configuration files on the param server -->
    <!-- Run the main MoveIt executable -->
    <group if="$(arg use_victor)">
        <include file="$(find victor_moveit_config)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
        <include file="$(find victor_moveit_config)/launch/move_group.launch">
            <arg name="allow_trajectory_execution" value="true"/>
            <arg name="fake_execution" value="false"/>
            <arg name="info" value="true"/>
            <arg name="debug" value="$(arg debug_moveit)"/>
        </include>
    </group>
    <group if="$(arg use_val)">
        <include file="$(find hdt_michigan_moveit)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
        <include file="$(find hdt_michigan_moveit)/launch/move_group.launch">
            <arg name="allow_trajectory_execution" value="true"/>
            <arg name="fake_execution" value="false"/>
            <arg name="info" value="true"/>
            <arg name="debug" value="$(arg debug_moveit)"/>
        </include>
    </group>

</launch>
