<launch>
    <arg name="world"  />
    <arg name="verbose"     default="false"/>
    <arg name="gui"         default="true"/>
    <arg name="pause"       default="false"/>
    <arg name="debug_gazebo"       default="false"/>
    <arg name="debug_moveit"       default="false"/>
    <arg name="use_victor"      default="false"/>
    <arg name="use_val"         default="false"/>

    <param name="robot_name" value="victor" type="string" if="$(arg use_victor)"/>
    <param name="robot_name" value="val" type="string" if="$(arg use_val)"/>

    <group ns="static_transform_publishers">
        <node pkg="tf2_ros" type="static_transform_publisher" name="rename_origin" required="true"
        args="0 0 0 0 0 0 robot_root world">
        <param name="use_sim_time" value="false"/>
        </node>
    </group>


    <include file="$(find physical_robot_3d_rope_shim)/launch/static_transforms.launch">
        <arg name="use_sim_time" value="false"/>
        <arg name="use_val" value="$(arg use_val)"/>
        <arg name="use_victor" value="$(arg use_victor)"/>
        <arg name="use_mocap_shims" value="true"/>
    </include>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"   value="$(find link_bot_gazebo)/worlds/$(arg world)"/>
        <arg name="verbose"      default="$(arg verbose)"/>
        <arg name="paused"       default="$(arg pause)"/>
        <arg name="use_sim_time" value="false"/>
        <arg name="gui"          value="$(arg gui)"/>
        <arg name="debug"        default="$(arg debug_gazebo)"/>
    </include>

    <group if="$(arg use_victor)">
        <include file="$(find victor_moveit_config)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
        <include file="$(find victor_moveit_config)/launch/move_group.launch">
            <arg name="allow_trajectory_execution" value="true"/>
            <arg name="fake_execution" value="false"/>
            <arg name="info" value="true"/>
            <arg name="debug" value="$(arg debug_moveit)"/>
        </include>
    </group>
    <group if="$(arg use_val)">
        <include file="$(find hdt_michigan_moveit)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
        <include file="$(find hdt_michigan_moveit)/launch/move_group.launch">
            <arg name="allow_trajectory_execution" value="false"/>
            <arg name="fake_execution" value="false"/>
            <arg name="info" value="true"/>
            <arg name="debug" value="$(arg debug_moveit)"/>
        </include>
    </group>

</launch>
