<launch>
    <arg name="world_name"/>
    <arg name="verbose" default="false"/>
    <arg name="gui" default="true"/>
    <arg name="spawn_x" default="0.0"/>
    <arg name="spawn_y" default="0.25"/>
    <arg name="spawn_yaw" default="0"/>

    <node name="objects_server" pkg="link_bot_pycommon" type="objects_server.py"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find link_bot_gazebo)/worlds/$(arg world_name).world"/>
        <arg name="verbose" default="$(arg verbose)"/>
        <arg name="paused" default="true"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
          args="-file $(find link_bot_description)/sdf/short_rope_2d.sdf -sdf -x $(arg spawn_x) -y $(arg spawn_y) -Y $(arg spawn_yaw) -z 0.01 -model link_bot"/>
</launch>
