<launch>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="true"/>
    <arg name="world" default="empty.world"/>
    <arg name="use_cdcpd" default="true"/>
    <arg name="grippers" default="robotiq"/>

    <include file="$(find link_bot_gazebo)/launch/gazebo.launch">
        <arg name="world" value="$(arg world)"/>
        <arg name="use_victor" value="true"/>
        <arg name="use_val" value="false"/>
        <arg name="robot_name" value="victor"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="pause" value="true"/>
        <arg name="debug_gazebo" value="false"/>
        <arg name="debug_moveit" value="false"/>
    </include>

    <node pkg="link_bot_gazebo_python" type="gazebo_link_states_to_tf.py" name="gazebo_link_states_to_tf"
          args="--config-file $(find link_bot_gazebo_python)/config/exclude_victor.hjson"/>

    <group if="$(eval grippers == 'fake_robotiq')">
        <node ns="victor" pkg="victor_fake_hardware_interface" type="fake_grippers_node.py" name="fake_grippers"/>
    </group>

    <group if="$(arg use_cdcpd)">
        <include file="$(find link_bot_gazebo)/launch/kinect_static_transforms.launch">
        </include>
        <include file="$(find cdcpd_ros)/launch/rope_tracking.launch">
        </include>
    </group>
</launch>
