<launch>
    <arg name="gui"         default="true"/>

    <include file="$(find link_bot_gazebo)/launch/gazebo.launch">
        <arg name="world" value="sim/victor_tabletop.world"/>
        <arg name="use_victor" value="true"/>
        <arg name="use_val" value="false"/>
        <arg name="verbose" value="false"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="pause" value="true"/>
        <arg name="debug_gazebo" value="false"/>
        <arg name="debug_moveit" value="false"/>
    </include>

    <node pkg="timed_roslaunch"
        type="timed_roslaunch.sh"
        args="10 physical_robot_3d_rope_shim robot_shim.launch use_victor:=true"
        name="timed_roslaunch"
        output="screen">
    </node>
</launch>
