<?xml version="1.0" ?>
<model>
    <name>val</name>
    <version>1.0</version>
    <sdf version="1.6">val.sdf</sdf>
    <author>
        <name>Peter Mitrano</name>
        <email>pmitrano@umich.edu</email>
    </author>
    <description>Created with gz sdf -p hdt_michigan.urdf and manually editing after that</description>
</model>
