<launch>
	<arg name="gui" default="true"/>
	<arg name="world" default="victor_table"/>

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find victor_3d_rope)/worlds/$(arg world).world"/>
		<arg name="paused" value="true"/>
		<arg name="gui" value="$(arg gui)"/>
		<arg name="verbose" value="true"/>
	</include>

</launch>