<?xml version="1.0" ?>
<model>
    <name>rope_2d</name>
    <version>1.0</version>
    <sdf version="1.6">rope_2d.sdf</sdf>
    <author>
        <name>Peter Mitrano</name>
        <email>pmitrano@umich.edu</email>
    </author>
    <description>rope is designed to be used on a flat surface without rolling/twisting</description>
</model>
