<launch>
    <arg name="use_victor" default="false"/>
    <arg name="use_val" default="false"/>

    <arg name="pi_div2" value="$(eval pi/2)"/>
    <group if="$(arg use_victor)">
        <rosparam subst_value="true" param="left_arm_home">
            [-1.39626, 0.5759586531581284, 1.9, -1.3089969389957472, 9.947598300641403e-14, 0.733038285837619, -0.2617993877991509]
        </rosparam>
        <rosparam subst_value="true" param="right_arm_home">
            [-1.74533, -0.5759586531581287, -1.9, 1.3089969389957465, -1.9539925233402755e-14, -0.7330382858376183, 1.8325957145940466]
        </rosparam>
        <!-- Load Victor's URDF, SRDF and other .yaml configuration files on the param server -->
        <include file="$(find victor_moveit_config)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
    </group>
    <group if="$(arg use_val)">
        <!-- <rosparam subst_value="true" param="right_arm_home">
            [2.7, -0.25, -0.25, -3.0, -1.51, 0.43, 0.0]
        </rosparam>
        <rosparam subst_value="true" param="left_arm_home">
            [2.7, 0.25, 0.25, -3.0, 2.51, -0.05, 0.0]
        </rosparam>
        <rosparam subst_value="true" param="torso_home">
            [0 0]
        </rosparam> -->
        <rosparam subst_value="true" param="left_arm_home">
        [0.9033504724502563, 0.07785190641880035, -0.8657668232917786, -0.9693137407302856, -0.006711370777338743, -0.002109288005158305, 0.03355685621500015]
        </rosparam>
        <!-- [0.74, -0.011, 0.48, -0.9112124443054199, 0.0, -0.00038350690738298, -0.0009587672539055347] -->
        <rosparam subst_value="true" param="right_arm_home">
        [-2.1046860218048096, 0.03930945694446564, -1.2719006538391113, -2.561250925064087, 1.2931853532791138, -0.9110206961631775, -0.0013422741321846843]
        </rosparam>
        <!-- [-1.4, 0.12, -0.7, 0.2, 1.3, -0.9, 0.0] -->
        <rosparam subst_value="true" param="torso_home">
        [-0.5, 1.0]
        </rosparam>
        <!-- Load Val's URDF, SRDF and other .yaml configuration files on the param server -->
        <include file="$(find hdt_michigan_moveit)/launch/planning_context.launch">
            <arg name="load_robot_description" value="true"/>
        </include>
    </group>

    <param name="robot_name" value="victor" type="string" if="$(arg use_victor)"/>
    <param name="robot_name" value="val" type="string" if="$(arg use_val)"/>
    <node name="world_interaction" pkg="physical_robot_3d_rope_shim" type="world_interaction">
        <param name="get_planning_scene_topic"  value="gazebo/get_planning_scene"/>
        <param name="translation_step_size"     value="0.002"   type="double"/>
        <param name="traj_goal_time_tolerance"  value="0.1"     type="double"/>
    </node>

</launch>
