<launch>
    <!-- <group ns="link_bot">
        <param name="n_state"       type="int"      value="11"/>
        <param name="rope_length"   type="double"   value="$(eval 18.0 * 0.0254)"/>
        <param name="max_speed"     type="double"   value="0.15"/>
    </group> -->
    <arg name="gazebo" default="true"/>

    <arg name="pi_div2" value="$(eval pi/2)"/>
    <rosparam subst_value="true" param="left_arm_home">
        [-1.81695, -1.25162, -2.05265, 1.38003, 0.831492, 0.315415, 1.3882]
    </rosparam>
    <rosparam subst_value="true" param="right_arm_home">
        [-1.43215, 0.956264, 1.7202, -1.38003, 2.25085, 0.557458, -2.47785]
    </rosparam>

    <node name="world_interaction" pkg="victor_3d_rope_shim" type="world_interaction">
        <param name="get_planning_scene_topic" value="gazebo/get_planning_scene" if="$(arg gazebo)"/>
    </node>
    <node name="fake_control_mode_interface" pkg="victor_3d_rope_shim" type="minimal_fake_control_mode_interface.py" if="$(arg gazebo)"/>

</launch>
